<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.humhahey.mapper.RoleCardMapper">
    <resultMap id="roleCardMap" type="roleCard">
        <id column="role_id" property="roleId"/>
        <result column="note" property="note"/>
    </resultMap>
    <select id="findById" parameterType="Long" resultMap="roleCardMap">
        select * from role_card where role_id=#{roleId};
    </select>
</mapper>